{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    A Little Weather App - Version 1
  </h3>
  <div class="section">
    
    by Laura Murray <br>
    Address: BloopBloop street <br>
    Email at lm.com
  </div>
</section>