{{> menu active="dashboard"}}
<section class="box is-4 has-text-left">
  <h1 class="title">
   Welcome to the station App where you can store your favourite stations
  </h1>


<section class="section">
  {{> list-stations}}
  {{> add-station}}
</section>
